body {
  font-family: Helvetica, Arial, sans-serif;
}

h1 {
  color: #FC0303;
}

a {
  text-decoration: none;
  font-weight: bold;
}

ol, ul {
  line-height: 2em;
}

#lindz {
  color: #367F3E;
  font-style: italic;
}