body {
  font-family: Arial, sans-serif;
  width: 70%;
  margin: auto;
}

h1 {
  background-color: lightgreen;
  margin-top: 1em;
  padding: 1rem;
  clear: left;
}
ul.square {
  list-style-type: square;
}
#nav_menu ul {
  list-style-type: none;
  padding-bottom: 2em;
}
#nav_menu ul li {
  float: left;
}
#nav_menu ul li a {
  text-align: center;
  display: block;
  width: 250px;
  padding: 1em 0;
  text-decoration: none;
  background-color: blue;
  color: white;
  font-weight: bold;
  border-right: 2px solid white;
}
#nav_menu ul li a.lastitem {
  border-right: none;
}
#nav_menu ul li a.current {
  color: yellow;
}

